<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sacramento&display=swap" rel="stylesheet">
    <title>Pasteleria Yuumi</title>
</head>
<body>
    <section>
        <nav class="fill">
            <ul class="horizontal">
                <li><img class="logo" src="src/img/logo.png" alt=""></li>
                <li><a href="./admon.html">Administración</a></li>
                <li><a href="./pedido.html">Pedido</a></li>
                <li><a href="../../">Menú</a></li>
            </ul>          
        </nav>
    </section>
    <section>
        <div class="subtitle">Inventario</div>
        <div class="flex2">
            <div class="tabla">
                <table>
                    <tr>
                        <th>Sabor</th>
                        <th>Stock</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>Chocolate</td>
                        <td>30</td>
                        <td>$10</td>
                    </tr>
                    <tr>
                        <td>Vainilla</td>
                        <td>18</td>
                        <td>$8</td>
                    </tr>
                    <tr>
                        <td>Fresa</td>
                        <td>20</td>
                        <td>$5</td>
                    </tr>
                    <tr>
                        <td>Limón</td>
                        <td>15</td>
                        <td>$12</td>
                    </tr>
                    <tr>
                        <td>Coco</td>
                        <td>13</td>
                        <td>$15</td>
                    </tr>
                </table>
            </div>
            <div class="tabla">
                <table>
                    <tr>
                        <th>Adornos</th>
                        <th>Stock</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>Fondant</td>
                        <td>10</td>
                        <td>20$</td>
                    </tr>
                    <tr>
                        <td>Betun</td>
                        <td>16</td>
                        <td>30$</td>
                    </tr>
                    <tr>
                        <td>Glaseado</td>
                        <td>10</td>
                        <td>35$</td>
                    </tr>
                    <tr>
                        <td>Arcoiris</td>
                        <td>0</td>
                        <td>55$</td>
                    </tr>
                    <tr>
                        <td>Chispas</td>
                        <td>0</td>
                        <td>45$</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="subtitle">Pedidos Realizados</div>
        <div class="flex2">
            <table class="tabla">
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Descripción</th>
                    <th>Sabor</th>
                    <th>Adorno</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Jose</td>
                    <td>12345678</td>
                    <td>Jose@gmail.com</td>
                    <td>Pastel de boda</td>
                    <td>Chocolate</td>
                    <td>Fondant</td>
                    <td>$30</td>
                </tr>
                <tr>
                    <td>Antonio</td>
                    <td>36989635</td>
                    <td>Antonio@gmail.com</td>
                    <td>Pastel de cumpleaños</td>
                    <td>Chocolate, Vainilla</td>
                    <td>Betun</td>
                    <td>$60</td>
                </tr>
            </table>
    </section>
    <br>
    <footer>
        <!-- Direction, Phone and opening hours -->
        <div class="footer-info">
            <div class="footer-info-item">
                <h2 class="footer-info-title">Dirección</h2>
                <p class="footer-info-text">Frente al campo de futbol, a la par del tribunal electoral.</p>
            </div>
            <div class="footer-info-item">
                <h2 class="footer-info-title">Teléfono</h2>
                <p class="footer-info-text">+52 22023687</p>
            </div>
            <div class="footer-info-item">
                <h2 class="footer-info-title">Horario</h2>
                <p class="footer-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
    </footer>
</body>
</html>